body {
	width: 100%;
  background-image:url('../img/wavegrid.png');
}

#main_container {
	margin: 10px auto;
	width: 800px;
}

.heading {
  text-align: center;
  font-family: 'Finger Paint', cursive;
  font-size: 50px;
}

table {
  margin: 0px auto;
}

.box_cell {
	border: 1px solid black;
	width: 150px;
	height: 150px;
  border-radius: 75px;
  opacity: .75;
  box-shadow: 2px 2px 0px #888888
}

.box_cell:hover {
  background-color: #aaa;
}

#wins {
  height: 100px;
  width: 30%;
  margin: 0 auto;


}

#winsForX {
  height: 50%;
  width: 100px;
  margin: 10px;
  background-color: black;
  float: left;
}

#winsForO {
  height: 50%;
  width: 100px;
  margin: 10px;
  background-color: red;
  float: left;
}

#reset-score {
  width: 50%;
  height: 40%;
  margin: 0px 0px 0px 60px;

}
